// Card layout
#card {
	border: $border-line-primary;
	box-shadow: $box-shadow-primary;
	animation: slideIn 1000ms ease-in;

	@include flex-layout(column, nowrap);
	@include flex-alignment(space-between, center);
	width: 17rem;
	height: 30rem;
	padding: 1rem;
	background: $secondary-color;
	background: $primary-color-transparent;

	@include respond-to-width(600px) {
		align-items: initial;
		width: 35rem;
		height: 17.5rem;
		padding: 1.5rem;
	}
}

// Menu
#menu {
	@include flex-layout(column, nowrap);

	@include respond-to-width(600px) {
		flex-direction: row;
		justify-content: space-between;
	}

	@include respond-to-width(1024px) {
		// Blur the rest when one item is hovered over
		&:hover .menu-item:not(:hover) {
			opacity: 0.5;
			filter: blur(0.1rem);
		}
	}
}

// Icons
.icon-github1:before {
	content: '\e902';
}

.icon-linkedin:before {
	content: '\e901';
}

.icon-soundcloud1:before {
	content: '\e900';
}

.icon-github1,
.icon-linkedin,
.icon-soundcloud1 {
	display: inline-block;
	margin-bottom: 1rem;
	font-size: 2.3rem;

	@include respond-to-width(600px) {
		margin-bottom: 0.5rem;
		font-size: 2.6rem;
	}
}

.icon-cone:before {
	content: '\e903';
}

.icon-headphones:before {
	content: '\e909';
}

.icon-code:before {
	content: '\e908';
}

.icon-code,
.icon-cone,
.icon-headphones {
	font-size: 1.7rem;
	@include respond-to-width(600px) {
		font-size: 2.1rem;
	}
}

.container {
	border: $border-line-secondary;
	border-radius: 0 0.5rem 0;
	@include flex-column-center;
	background: $primary-gradient;

	&:hover {
		background: $secondary-gradient;
		color: $tertiary-color;
	}

	&:hover .icon {
		color: $tertiary-color;
	}
}

.menu-item:not(:last-child) .container {
	margin-bottom: 1rem;
	@include respond-to-width(600px) {
		margin-bottom: 0;
	}
}

.menu-item:nth-of-type(1) .container,
.menu-item:nth-of-type(2) .container,
.menu-item:nth-of-type(3) .container {
	width: 8rem;
	height: 4rem;

	@include respond-to-width(600px) {
		width: 9.6rem;
		height: 5.5rem;
	}
}

.menu-item:nth-of-type(1) .container {
	animation: glide ease infinite 2.5s;
}

.menu-item:nth-of-type(2) .container {
	animation: glide ease infinite 2.6s;
}

.menu-item:nth-of-type(3) .container {
	animation: glide ease infinite 2.7s;
}

// Hover & Focus
.icon:hover {
	color: $tertiary-color;
}

.icon-github1:hover,
.icon-linkedin:hover,
.icon-soundcloud1:hover {
	animation: enlarge 0.3s forwards linear;
}

.menu-link:focus > .icon-github1,
.menu-link:focus > .icon-linkedin,
.menu-link:focus > .icon-soundcloud1 {
	color: $tertiary-color;
	animation: enlarge 0.3s forwards linear;
}

// has to come after the .menu-item:nth-of-type() animations
.menu-item .container:hover {
	animation: expand 0.3s forwards linear;
}

.menu-link:focus > .container {
	color: $tertiary-color;
	animation: expand 0.3s forwards linear;
}

.container:focus .icon {
	color: $tertiary-color;
}
