// Colors
$primary-color: rgb(0, 0, 0);
$primary-color-transparent: rgba(0, 0, 0, 0.8);
$primary-color-highly-transparent: rgba(0, 0, 0, 0.5);
$secondary-color: rgb(19, 16, 16);
$tertiary-color: rgb(240, 216, 0);
$quaternary-color: rgb(245, 245, 245);

// Gradients
$primary-gradient: linear-gradient(
	45deg,
	rgb(224, 68, 68),
	rgb(255, 0, 0),
	rgb(0, 0, 0)
);
$secondary-gradient: linear-gradient(
	45deg,
	rgb(0, 0, 0),
	rgb(255, 0, 0),
	rgb(224, 68, 68)
);

// Borders
$border-line-primary: 0.125rem solid rgb(255, 0, 0);
$border-line-secondary: 0.0625rem solid rgb(59, 71, 41);

// Shadows
$box-shadow-primary: 1px 1px 10px $quaternary-color;
$box-shadow-secondary: 2px 2px 10px $quaternary-color;
